<div class="col-sm-12 pageView well" id="profile">
	<h3 class="text-danger"><span class="fa fa-google-plus"></span> Google User Info</h3>
	<p>
		<strong>User id</strong>: <%= user.googleProfileID %><br>
		<strong>email</strong>: <%= user.email %><br>
		<strong>First Name</strong>: <%= user.firstName %><br>
		<strong>Last Name</strong>: <%= user.lastName %><br>
		<strong>isContainerOwner</strong>: <%= user.isContainerOwner %><br>
	</p>
</div>